<header>
    <img src="assets/img/gabriel.png" alt="foto-perfil" width="130px" height="130px" loading="eager">
    <h1>Gabriel Leal Menezes</h1>
</header>

<aside>
    <div class="container">
        <p>Front-End HTML | CSS | JavaScript | TypeScript | Angular </p>
        <p>Em busca do Full-Stack!</p>
        <p>Franca-SP | São Paulo-SP | Brasil</p>
        <p>
            tenho 20 anos e sou estudante do curso de <strong>Sistemas da Informação na UNIFRAN</strong>, atualmente no 4º semestre. Tenho uma paixão ardente pelo desenvolvimento, onde encontro a fascinação em criar soluções inovadoras e enfrentar desafios tecnológicos. A cada dia, mergulho mais fundo no mundo da programação, buscando aprimorar minhas habilidades e contribuir para o avanço da área. Estou ansioso para explorar todas as possibilidades que essa jornada acadêmica e profissional tem a oferecer!
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/Currículo Gabriel Leal Menezes.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/gabriel-leal-menezes-54623925b/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/gabriel-leal" target="_blank" class="btn btn-tertiary">GitHub</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5516992137076&text=Ol%c3A1%20Gabriel,%20preciso%20de%20um%20job!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (16) 99213-7076</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:gabrielealmenezes@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>gabrielealmenezes&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>